body {
  background-image: url("walle.jpg");
  /* background-color: rgb(182, 40, 40); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
.main-timeline3 {
  overflow: hidden;
  position: relative;
}
.main-timeline3:before {
  content: "";
  width: 10px;
  height: 100%;
  border: 3px solid #959595;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.main-timeline3 .timeline {
  width: 50%;
  padding: 10px 60px 10px 100px;
  float: right;
  position: relative;
}
.main-timeline3 .timeline:before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c47c48;
  border: 5px solid #fff;
  box-shadow: 0 0 1px 5px #c47c48;
  position: absolute;
  top: 42px;
  left: -20px;
}
.main-timeline3 .timeline-content {
  display: block;
  background-color: rgba(75, 52, 88, 0.7);
  padding: 70px 30px 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset; */
  position: relative;
}
.main-timeline3 .timeline-content:hover {
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.03);
}
.main-timeline3 .year {
  display: block;
  width: 80%;
  height: 50px;
  background: #c47c48;
  padding: 0 0 0 50px;
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff;
  line-height: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
  border-radius: 10px 10px 10px 0;
  position: absolute;
  top: 20px;
  left: -20px;
}
.main-timeline3 .year:before {
  content: "";
  border-top: 40px solid #c47c48;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  bottom: -60px;
  left: 0;
}
.main-timeline3 .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a;
}
.main-timeline3 .description {
  font-size: 14px;
  color: #ffffff;
  margin: 0 0 5px;
}
.main-timeline3 .timeline:nth-child(2n) {
  padding: 10px 100px 10px 60px;
  text-align: right;
}
.main-timeline3 .timeline:nth-child(2n):before {
  left: auto;
  right: -20px;
  background: #8cc43d;
  box-shadow: 0 0 1px 5px #8cc43d;
}
.main-timeline3 .timeline:nth-child(2n) .year {
  padding-right: 50px;
  border-radius: 10px 10px 0;
  left: auto;
  right: -20px;
  background: #8cc43d;
}
.main-timeline3 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 20px solid transparent;
  left: auto;
  right: 0;
  border-top-color: #8cc43d;
}
.main-timeline3 .timeline:nth-child(2) {
  margin-top: 140px;
}
.main-timeline3 .timeline:nth-child(odd) {
  margin: -140px 0 0;
}
.main-timeline3 .timeline:nth-child(even) {
  margin-bottom: 60px;
}
.main-timeline3 .timeline:first-child,
.main-timeline3 .timeline:last-child:nth-child(even) {
  margin: 0;
}
.main-timeline3 .timeline:nth-child(3n):before {
  background: #ce3c41;
  box-shadow: 0 0 1px 5px #ce3c41;
}
.main-timeline3 .timeline:nth-child(3n) .year {
  background: #ce3c41;
}
.main-timeline3 .timeline:nth-child(3n) .year:before {
  border-top-color: #ce3c41;
}
.main-timeline3 .timeline:nth-child(4n):before {
  background: #8cc43d;
  box-shadow: 0 0 1px 5px #8cc43d;
}
.main-timeline3 .timeline:nth-child(4n) .year {
  background: #8cc43d;
}
.main-timeline3 .timeline:nth-child(4n) .year:before {
  border-top-color: #8cc43d;
}
@media only screen and (max-width: 990px) {
  .main-timeline3:before {
    top: 8%;
  }
  .main-timeline3 .timeline {
    padding: 10px 10px 10px 100px;
  }
  .main-timeline3 .timeline:nth-child(2n) {
    padding: 10px 100px 10px 10px;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline3:before {
    width: 8px;
    top: 0;
    left: 12px;
    transform: translateX(0);
  }
  .main-timeline3 .timeline,
  .main-timeline3 .timeline:nth-child(even),
  .main-timeline3 .timeline:nth-child(odd) {
    width: 100%;
    float: none;
    text-align: left;
    padding: 0 0 0 60px;
    margin: 0 0 30px;
  }
  .main-timeline3 .timeline:before,
  .main-timeline3 .timeline:nth-child(2n):before {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    top: 38px;
    left: 6px;
  }
  .main-timeline3 .timeline:nth-child(2n) .year {
    right: auto;
    left: -20px;
    border-radius: 10px 10px 10px 0;
  }
  .main-timeline3 .timeline:nth-child(2n) .year:before {
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: none;
    right: auto;
    left: 0;
  }
  .main-timeline3 .year {
    font-weight: 400;
  }
}

/* backtotop!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!0 */
#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
